.posts {
  display: flex;
  padding: 10px;
  color: blue;
}

.ava img {
  width: 50px;
  border-radius: 20px;
  padding: 5px;
}

.message {
  color: black;
}

.like {
  color: rgb(62, 113, 10);
  padding: 10px;
}
