.header {
  grid-area: h;
  padding: 11px;
  background-color: #eae2e2;
  /* border: 1px solid rgb(225, 212, 212); */
}

.logo {
  display: flex;
}

.logo img {
  width: 50px;
}

.logoText {
  align-self: center;
}

.logoText a {
  color: black;
  text-decoration: none;
}
