.App {
  margin: 0;
  display: grid;
  width: 1200px;

  grid-template-areas:
    'h h'
    'n c'
    'f f';
  /* the height of the rows in the grid. */
  grid-template-rows: 60px 1fr;
  /* the width of the columns */
  grid-template-columns: 2fr 10fr;
  /* space between each cell in the grid */
  /* grid-gap: 10px; */
}

.App-content {
  grid-area: c;
  background-color: #92dfe3;
}
